/* The Modal (background) */
.news_modal {
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_iframe {
  margin: auto;
  width: 80%;
  height: 90%;
}
iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 10px solid #434343;
}
